**Ex2: IBM Data Science Course - Assigment - JupyterLite Notebook**

Ex3: This is a Jupyter notebook for the coursera assignment

Ex4: List of Data Science Languages:
 - Python
 - Java
 - SQL
 - R

Ex5: List of Data Science Libraries:
- scikit-learn
- tensorflow
- PyTourch

Ex6: Table of Data Science Tools:

| Name        | Description |
| ----------- | ----------- |
| Python      | Open-source language with large online community and lots of libraries       |
| Java        | Made by oracle      |
| R | A powerful data science tool used mostly in academia
| Tableau     | Data visualisation package |
| SQL         | Non-procedural language for managing databases |
| Git | Industry standard version control software

Ex7: This is an example of arithmetic expression in markdown:
    
$$\left( \sum_{k=1}^n a_1 b_2 + c_3 \right)^2 $$

In [3]:
#Ex8: code cell to multiply and add numbers: 
(1 + 2*3)

7

In [8]:
#Ex9: code cell to convert minutes to hours:
def min2hours(min):
    return (min/60);
min2hours(120)

2.0

Ex10: MD cell to list objectives:

**Objectives**
 - Finish this course ASAP
 - Get job

Ex11: Author: David O'Connor